# Auto detect text files and perform LF normalization
* text=auto
echo "# R22-final" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/masterleafcnc/R22-final.git
git diff -- . ':(exclude)R22/.tmp.drivedownload' 
git diff -- . ':(exclude)R22/.tmp.driveupload' 
git push -u origin main
